# Environments
venv/
env/
.env
.venv

# Byte-compiled files
__pycache__/
*.py[cod]

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# PyInstaller & GUI Build Artifacts
/build
/dist
*.spec

# Test Media & Exports
*.mp3
*.wav
*.mp4